/* Стили для заголовка h1 */
h1 {
    text-align: center; /* Выравнивание текста по центру */
    margin-top: 0; /* Убираем верхний отступ заголовка */
    color: #333;
}





/* Стили для контейнера формы */
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5; /* Изменено цвет фона */
    border-radius: 10px; /* Увеличено значение радиуса границы */
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2); /* Увеличено значение размытия */
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Стили для меток и полей ввода */
label {
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="number"],
input[type="text"],
select {
    width: 100px;
    padding: 10px;
    margin-bottom: 15px; /* Уменьшено значение отступа снизу */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Стили для кнопки отправки */
input[type="submit"] {
    width: 50%;
    padding: 10px;
    background-color: #2f2f31;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

input[type="submit"]:hover {
    background-color: rgba(54, 52, 52, 0.1);
}